<!-- Header -->
<div class="relative bg-image md:pt-8 pb-8 pt-8">
  
  <app-registration-navbar></app-registration-navbar>
  
  <!--<div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <form class="max-w-sm mx-auto">
          <div class="flex space-x-4">
              <select id="countries" class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option>United States</option>
                  <option>Canada</option>
                  <option>France</option>
                  <option>Germany</option>
              </select>
              <input type="text" id="username-success" class="flex-1 bg-green-50 border border-green-500 text-green-900 dark:text-green-400 placeholder-green-700 dark:placeholder-green-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 p-2.5 dark:bg-gray-700 dark:border-green-500" placeholder="Bonnie Green">
          </div>
      </form>
      
      
    </div>
  </div>-->
</div>